<div class="containerComponent">
  @if(!this.loginRegister){
    <div class="contentLogin">
      <h1>eMatShop</h1>
      <h3>Login</h3>
      <div class="inputs">
        <div class="inputIcon">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm3.519 0L12 11.671 18.481 6H5.52zM20 7.329l-7.341 6.424a1 1 0 0 1-1.318 0L4 7.329V18h16V7.329z" /></svg>
          <input type="email" placeholder="Email">
        </div>
        <div class="inputIconPassword">

          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4c1.648 0 3 1.352 3 3v3H9V7c0-1.648 1.352-3 3-3zm5 6V7c0-2.752-2.248-5-5-5S7 4.248 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2h-1zM6 12h12v8H6v-8z"/></svg>

          <input [type]="visibilityActionIcons[visibility].type" placeholder="Password">
          <button (click)="changeVisibility()">
            <svg class="eye" width="24px" height="24px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path [attr.d]="visibilityActionIcons[visibility].icon" /></svg>
          </button>
        </div>
      </div>
      <p>Password dimenticata?</p>
      <button class="btnLogin">Login</button>
      <p>Non hai un account? &ThinSpace; <a href="" >Registrati</a></p>
    </div>
  }
  @else{
    <div class="contentRegister">
      <h1>eMatShop</h1>
      <h3>Registrazione</h3>
      <div class="inputs">
        <div class="inputIcon">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm3.519 0L12 11.671 18.481 6H5.52zM20 7.329l-7.341 6.424a1 1 0 0 1-1.318 0L4 7.329V18h16V7.329z" /></svg>
          <input type="email" placeholder="Email">
        </div>
        <div class="inputIconPassword">

          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4c1.648 0 3 1.352 3 3v3H9V7c0-1.648 1.352-3 3-3zm5 6V7c0-2.752-2.248-5-5-5S7 4.248 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2h-1zM6 12h12v8H6v-8z"/></svg>

          <input [type]="visibilityActionIcons[visibility].type" placeholder="Password">
          <button (click)="changeVisibility()">
            <svg class="eye" width="24px" height="24px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path [attr.d]="visibilityActionIcons[visibility].icon" /></svg>
          </button>
        </div>
        <div class="inputIconPassword">

          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4c1.648 0 3 1.352 3 3v3H9V7c0-1.648 1.352-3 3-3zm5 6V7c0-2.752-2.248-5-5-5S7 4.248 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2h-1zM6 12h12v8H6v-8z"/></svg>

          <input [type]="visibilityActionIcons[visibility].type" placeholder="Conferma la password">
          <button (click)="changeVisibility()">
            <svg class="eye" width="24px" height="24px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path [attr.d]="visibilityActionIcons[visibility].icon" /></svg>
          </button>
        </div>
      </div>
      <p>Password dimenticata?</p>
      <button class="btnLogin">Registrati</button>
      <p>Hai già un account? &ThinSpace; <a href="" >Accedi</a></p>
    </div>
  }



</div>
