.containerComponent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .productDetails{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.719);
    padding: 30px 50px 35px 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.192);
    outline: 1px solid rgba(255, 255, 255, 0.192);
  }
  h2{
    text-align: left;
  }
}
