.containerComponent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .productDetails{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.719);
    padding: 30px 50px 35px 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.192);
    outline: 1px solid rgba(255, 255, 255, 0.192);
    justify-content: space-around;
  }
  h2{
    text-align: left;
  }
  img{
    height: 150px;
  }
  .brief{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    .flex-col{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }
  button {
    padding: 10px 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;

    color: #e6f3ff; /* azzurrino chiaro */
    text-shadow: 0 0 5px rgb(23, 23, 126);

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 0 15px rgba(174, 220, 255, 0.6);
      transform: translateY(-3px) scale(1.03);
    }

    &:active {
      transform: translateY(0) scale(0.98);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
  }
}
