services:
  catalog:
    build:
      context: ./Catalog
      dockerfile: dockerfile
    container_name: catalog
    ports:
      - "8082:8082"
    environment:
      - EUREKA_URI=http://shop-eureka-server:8761/eureka
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - ZIPKIN_URI=http://zipkin:9411/api/v2/spans
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
      - config-server
      - zipkin
  shop-eureka-server:
    build:
      context: ./ShopEurekaServer
      dockerfile: dockerfile
    container_name: shop-eureka-server
    ports:
      - "8761:8761"
    networks:
      - shopnet
  config-server:
    build:
      context: ./ConfigurationServer
      dockerfile: dockerfile
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
  shop-gateway:
    build:
      context: ./ShopGateway
      dockerfile: dockerfile
    container_name: shop-gateway
    ports:
      - "9999:9999"
    environment:
      - EUREKA_URI=http://shop-eureka-server:8761/eureka
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - ZIPKIN_URI=http://zipkin:9411/api/v2/spans
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
      - config-server
      - zipkin
  purchase:
    build:
      context: ./Purchases
      dockerfile: dockerfile
    container_name: purchase
    ports:
      - "7500:7500"
    environment:
      - EUREKA_URI=http://shop-eureka-server:8761/eureka
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - ZIPKIN_URI=http://zipkin:9411/api/v2/spans
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
      - config-server
      - zipkin
  payment:
    build:
      context: ./Payment
      dockerfile: dockerfile
    container_name: payment
    ports:
      - "8900:8900"
    environment:
      - EUREKA_URI=http://shop-eureka-server:8761/eureka
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - ZIPKIN_URI=http://zipkin:9411/api/v2/spans
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
      - config-server
      - zipkin
  usermanager:
    build:
      context: ./usermanager
      dockerfile: dockerfile
    container_name: usersmanager
    ports:
      - "8998:8998"
    environment:
      - EUREKA_URI=http://shop-eureka-server:8761/eureka
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      - AUTH_SECRET_KEY=6fd0d717fe06e90571e0ddeb7b24d1e99e4b58aa9e8e5bd0fbfc37673d2d6834
      - SECURITY_JWT_SECRET_KEY=3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
      # SMLA4c1shEK5vonC0HWqBlP6dHkqbfEJHeRxPQLtm5tO4AQchxvqKoLFJ5gulhQLrYgqHRaOb7onjmGqmDjd8v4NwjTqWmpAhI47
    networks:
      - shopnet
    depends_on:
      - shop-eureka-server
      - config-server
      - zipkin
  angular:
    build:
      context: ../client/eShop
      dockerfile: dockerfile
    container_name: angular
    ports:
      - "4200:4200"
    networks:
      - shopnet
# spring:
#   cloud:
#     gateway:
#     default-filters:
#        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
#   globalcors:
#     corsConfigurations:
#       '[/**]':
#         allowedOrigins: "http://localhost:<your port>"
#         allowedHeaders: "*"
#         allowedMethods: "*"

  zipkin:
    build:
      context: ./zipkin
      dockerfile: dockerfile
    container_name: zipkin
    ports: 
      - "9411:9411"
    networks:
      - shopnet
      
networks:
  shopnet:
    driver: bridge
