<div>
  <h1>My personal Cart</h1>
  @for (item of service.cartListComp()?.items; track $index) {
    <h2>{{item.product.title}}</h2>
    <h4>Price:{{item.product.price}}</h4>
    <h4>Quantity: {{item.quantity}}</h4>
  }
  @empty {
    <h3>Your cart is Empty</h3>
  }
  <h4>Total Price: {{service.cartListComp().totalPrice}}</h4>
  @if(true){
    <input type="text" placeholder="card number" [(ngModel)]="cardNumber">
    <input type="text" placeholder="cvv" [(ngModel)]="cvv">
    <input type="date" placeholder="expiration date" [(ngModel)]="expirationDate">
  }@else {
    <h1>No payment</h1>
  }
  <button (click)="pay()">PAY CASH</button>
</div>
