img{
  transform: scale(1);

}
img::hover{
  transform: scale(1.2);
}
p{
  overflow:hidden;
  max-height: 100px;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;

  display:inline-block;
}
